@import "../../styles/common.scss";

.reservationPage {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 11;

  &__top {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    &__right {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      &__operator {
        align-items: center;
        background-color: white;
        border-radius: 22px;
        border: 1px solid $accentColor;
        display: flex;
        font-size: 0.8rem;
        height: 30px;
        justify-content: center;
        margin: 0.5rem 0;
        padding: 0 10px;
        white-space: nowrap;
        width: fit-content;

        & img {
          height: 20px;
          margin-left: 0.5rem;
          width: 20px;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      margin-right: 1rem;

      & p {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  &__info {
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__message {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__info {
      background-color: $primary;
      padding: 1.5rem;
      text-align: center;
      width: -webkit-fill-available;

      &__text {
        color: $grey;
        font-weight: 600;
        margin: 0 auto;
        max-width: 13rem;
      }
    }

    &__time {
      font-size: 0.875rem;
      margin: 0.5rem;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    & button {
      margin: 0.5rem 0.5rem;
      padding: 1rem 3rem;
    }

    &__inactive {
      @include grey-button;
    }

    &__active {
      @include blue-green-button;
    }
  }

  hr {
    margin-top: 1.5rem;
    max-width: 400px;
    width: 90%;
  }

  &__extend {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 1rem;

    & span {
      color: $primary;
      font-size: 0.875rem;
      margin-right: 1rem;
    }

    & button {
      @include simple-button;
      background-color: $grey;
      margin-left: 1rem;
      padding: 0;
    }
  }
}
