@import "../../styles/common.scss";

.reservationPage {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 11;

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

    &__right {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      &__operator {
        align-items: center;
        background-color: white;
        border-radius: 22px;
        border: 1px solid $accentColor;
        display: flex;
        font-size: 0.8rem;
        height: 30px;
        justify-content: center;
        margin: 0.5rem 0;
        padding: 0 10px;
        white-space: nowrap;
        width: fit-content;

        & img {
          height: 20px;
          margin-left: 0.5rem;
          width: 20px;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      & p {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  &__info {
    padding: 0 1rem;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    & button {
      margin: 0.5rem 0.5rem;
      padding: 1rem 3rem;
    }

    &__inactive {
      @include grey-button;
    }

    &__active {
      @include blue-green-button;
    }
  }
}
