@import "../../styles/common.scss";

.reservationPage {
  background-color: #f2f2f2;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 11;

  &__top {
    &__right {
      &__operator {
        align-items: center;
        background-color: white;
        border-radius: 22px;
        border: 1px solid $accentColor;
        display: flex;
        font-size: 0.8rem;
        height: 30px;
        justify-content: center;
        margin: 0.5rem 0;
        padding: 0 10px;
        white-space: nowrap;
        width: auto;

        & img {
          height: 20px;
          margin-left: 0.5rem;
          width: 20px;
        }
      }
    }
  }
}
