$accentColor: #638fe3;
$darkPrimary: #020828;
$primary: #2e3454;
$lightPrimary: #68719f;
$stars: #dfba4b;
$secondaryAccent: #50b7af;
$grey: #f2f2f2;
$greyText: #bdbdbd;
$grey3: #828282;
$grey4: #bdbdbd;
$grey5: #e0e0e0;
$grey6: #f2f2f2;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  @include flex-center;
  padding: 0.87rem 4rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  max-width: 190px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}

@mixin blue-button {
  @extend .buttons;
  background-color: $accentColor;
  color: #2e3454;
}

@mixin white-button {
  @extend .buttons;
  background-color: #e0e0e0;
  color: $secondaryAccent;
  border: 1px solid $secondaryAccent;
}

@mixin simple-button {
  @extend .buttons;
  color: $secondaryAccent;
}

@mixin grey-button {
  @extend .buttons;
  background-color: $grey4;
  color: #4f4f4f;
}

@mixin blue-green-button {
  @extend .buttons;
  background-color: $secondaryAccent;
  color: $primary;
}

@mixin grey-blue-button {
  @extend .buttons;
  background-color: #e0e0e0;
  color: $accentColor;
  border: 1px solid $accentColor;
}

@mixin no-button {
  @include simple-button;
  background-color: transparent;
}

@mixin inputs {
  border: none;
  border-bottom: 1px solid $grey4;
  background-color: #3a426b;
  margin: 0.5rem;
  padding: 1rem 0;
}
