@import "../../styles/common.scss";

.home {
  align-items: center;
  background-repeat: no-repeat;
  background: linear-gradient(
      0deg,
      rgba(46, 52, 84, 0.59),
      rgba(46, 52, 84, 0.59)
    ),
    url("../../home.jpg");
  background-attachment: fixed;
  background-position: -100px;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5rem 0 1.5rem 0;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;

    &__title {
      color: $grey;
      font-size: 2rem;
      font-weight: 700;
      margin: 1rem 0;
      max-width: 95%;
    }

    &__signup {
      @include blue-green-button;
      margin-left: 0;
      margin-right: 0;
      white-space: nowrap;
      width: 100%;
    }

    &__login {
      @include white-button;
      white-space: nowrap;
      width: 100%;
    }

    &__continue {
      color: #e0e0e0;
      margin-top: 0.25rem;
    }

    a {
      text-decoration: none;
    }
  }
}
