@import "../../styles/common.scss";

.operator {
  & input[type="checkbox"] {
    display: none;
  }

  &__label {
    align-items: center;
    background-color: $grey6;
    border-radius: 22px;
    border: 2px solid $grey6;
    display: flex;
    height: 30px;
    justify-content: space-around;
    margin: 0 5px;

    &__circle-image {
      border-radius: 20px;
      height: 25px;
      padding-left: 1.5px;
      width: 25px;
    }

    &__name {
      display: inline-block;
      font-weight: 500;
      padding: 0 10px;
      white-space: nowrap;
    }
  }
  :checked + label {
    border: 3px solid $secondaryAccent;
  }
}

.rating {
  float: left;
  width: 300px;
}
.rating span {
  float: right;
  position: relative;
}
.rating span input {
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
}
.rating span label {
  -webkit-border-radius: 50%;
  background: #ccc;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  text-align: center;
  width: 30px;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background: #f90;
  color: #fff;
}
