@import "../../styles/common.scss";

.chargePointLegend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 80px;
  background-color: #e0e0e0;
  min-height: calc(100vh - 56px);

  &__title {
    width: 13rem;
    margin-top: 0.5rem;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__hideNoMore {
    color: $grey3;
    margin-top: 1rem;
    font-size: 0.875rem;
  }
}
