@import "../../styles/common.scss";

.chargePointInformation {
  width: 100%;
  position: absolute;
  bottom: 56px;
  left: 0;
  background-color: #f2f2f2;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  &__error {
    width: 100%;
    background-color: #b75454;
    padding: 1.5rem 0;
    text-align: center;

    &__text {
      margin: 0 auto;
      font-weight: 600;
      max-width: 15rem;
    }
  }

  &__ok {
    width: 100%;

    &__info {
      padding: 1.5rem;
      background-color: #1dae69;
      text-align: center;

      &__text {
        margin: 0 auto;
        font-weight: 600;
        max-width: 15rem;
      }
    }

    &__time {
      font-size: 0.875rem;
      color: #4f4f4f;
      text-align: center;
      margin: 0.2rem auto;
    }

    &__extend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0.5rem;

      &__button {
        @include grey-blue-button;
        width: 3rem;
        padding: 0.5rem 2.5rem;
        margin: 0;
      }

      &__text {
        margin: 0;
        max-width: 60%;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &__pic {
        position: relative;
        border-radius: 50%;
        background-color: #2e3454;
        width: 94px;
        height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__svg {
          width: 70px;
          height: 70px;
          filter: invert(1) saturate(0);
        }

        &__heart {
          position: absolute;
          width: 30px;
          height: 30px;
          bottom: 0;
          right: 0;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &__operator {
        align-items: center;
        background-color: white;
        border-radius: 22px;
        border: 1px solid white;
        display: flex;
        font-size: 0.8rem;
        height: 30px;
        justify-content: center;
        margin: 0.5rem 0;
        padding: 0 10px;
        white-space: nowrap;
        width: auto;

        & img {
          width: 20px;
          height: 20px;
          margin-left: 0.5rem;
        }
      }

      &__text {
        color: #2e3454;
        font-weight: 500;
        font-size: 1.5rem;
        max-width: 10rem;
        margin: 0;
      }
    }
  }

  &--full {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &__pic {
    position: absolute;
    left: 1.2rem;
    top: -75px;
    z-index: 10;
    border-radius: 50%;
    background-color: #2e3454;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__svg {
      width: 90px;
      height: 90px;
      filter: invert(1) saturate(0);
    }

    &__heart {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__operator {
    align-items: center;
    background-color: white;
    border-radius: 22px;
    border: 1px solid white;
    display: flex;
    font-size: 0.8rem;
    height: 30px;
    justify-content: center;
    margin: 1rem 1rem 0.5rem auto;
    padding: 0 10px;
    white-space: nowrap;
    width: auto;

    & img {
      width: 20px;
      height: 20px;
      margin-left: 0.5rem;
    }
  }

  &__info {
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;

    span {
      margin: 0.3rem 0;
    }

    hr {
      color: #9d9c9c;
      width: 100%;
    }

    p {
      margin: 0.4rem 0;
    }

    &__name {
      font-weight: bold;
      white-space: nowrap;
      overflow-x: scroll;
    }

    &__line {
      display: flex;
      align-items: center;

      p {
        margin-left: 1rem;
        font-size: 0.875rem;
      }

      img::nth-last-child(2) {
        width: 10px;
      }

      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
      }

      &__circle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #020828;
      }
    }

    &__rates {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5rem;
      margin: 0.2rem 0;
    }

    &__grey {
      color: #958f8f;
    }
  }

  &__buttons {
    width: 90%;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0.87rem 2.8rem;
    }

    &__cancel {
      @include grey-button;
    }

    &__reservation {
      @include blue-button;
    }
  }

  @media (max-width: 360px) {
    &__buttons {
      flex-direction: column;
    }
  }
}

.popupExtendReservation {
  position: fixed;
  background: rgba(104, 113, 159, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-top: calc(100vh - 85vh - 20px);
    background-color: #dfba4b;
    padding: 2rem 0;

    &__text {
      max-width: 50%;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    background: #f2f2f2;
    padding: 1rem;

    & span {
      margin: 0.8rem;
    }

    &__bold {
      font-weight: 700;
      text-align: center;
    }

    &__normal {
      font-weight: 400;
      color: #8c8a8a;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;

    & button {
      border: none;
      margin: 0.5rem 0;
    }

    &__extend {
      @include blue-button;
    }

    &__no {
      color: #8c8a8a;
    }
  }
}

.popupActiveReservation {
  position: fixed;
  background: rgba(104, 113, 159, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  &__text {
    margin-top: calc(100vh - 85vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    height: auto;
    max-height: 70vh;
    background: #f2f2f2;
    padding: 1rem;
    text-align: center;

    & span {
      margin: 0.8rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;

    & button {
      @include grey-blue-button;
      margin: 0.5rem 0;
    }
  }
}
