@import "../../styles/common.scss";

.map {
  &__chargePointInformation {
    background-color: white;
    bottom: 0;
    min-height: 50.7%;
    padding-bottom: 70px;
    position: fixed;
    width: 100%;

    &__top {
      align-content: flex-end;
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: -65px;

      &__operator {
        align-items: center;
        background-color: white;
        border-radius: 22px;
        border: 1px solid $accentColor;
        display: flex;
        font-size: 0.8rem;
        height: 30px;
        justify-content: center;
        margin: 0.5rem 0;
        padding: 0 10px;
        white-space: nowrap;
        width: auto;

        & img {
          height: 20px;
          margin-left: 0.5rem;
          width: 20px;
        }
      }
    }

    &__info {
      padding: 0 1rem;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.5rem;

      & button {
        margin: 0.5rem 0.5rem;
        padding: 1rem 3rem;
      }

      &__cancel {
        @include grey-button;
      }

      &__reserve {
        @include blue-green-button;
      }
    }
  }
}

@media (max-width: 365px) {
  .map {
    height: 70.7%;

    &__chargePointInformation {
      padding-bottom: 1rem;
      overflow-y: scroll;

      &__top {
        margin-top: 0.8rem;
      }

      &__buttons {
        & button {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .container {
    z-index: 2;
  }
}
