@import "../../styles/common.scss";

.chargePointInformation {
  width: 100%;
  position: absolute;
  bottom: 56px;
  left: 0;
  background-color: #f2f2f2;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  &__pic {
    position: absolute;
    left: 1.2rem;
    top: -75px;
    z-index: 10;
    border-radius: 50%;
    background-color: #2e3454;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__svg {
      width: 90px;
      height: 90px;
      filter: invert(1) saturate(0);
    }

    &__heart {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__operator {
    align-items: center;
    background-color: white;
    border-radius: 22px;
    border: 1px solid white;
    display: flex;
    font-size: 0.8rem;
    height: 30px;
    justify-content: center;
    margin: 1rem 1rem 0.5rem auto;
    padding: 0 10px;
    white-space: nowrap;
    width: auto;

    & img {
      width: 20px;
      height: 20px;
      margin-left: 0.5rem;
    }
  }

  &__info {
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;

    span {
      margin: 0.3rem 0;
    }

    hr {
      color: #9d9c9c;
      width: 100%;
    }

    p {
      margin: 0.4rem 0;
    }

    &__name {
      font-weight: bold;
      white-space: nowrap;
      overflow-x: scroll;
    }

    &__line {
      display: flex;

      p {
        margin-left: 1rem;
      }

      img::nth-last-child(2) {
        width: 10px;
      }

      &__container {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 16px;
      }
    }

    &__rates {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5rem;
      margin: 0.2rem 0;
    }

    &__grey {
      color: #958f8f;
    }
  }

  &__buttons {
    width: 90%;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 0.87rem 2.8rem;
    }

    &__cancel {
      @include grey-button;
    }

    &__reservation {
      @include blue-button;
    }
  }
}
